body {
  background-color: rgb(241, 207, 165);
  width: 60%;
  position: absolute;
  left: 20%;
}

#navigation-bar {
  border-style: solid;
  border-color: black;
  height: 200px;
}

#user-input {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: black;
  height: 600px;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  /* padding: 20px;
    margin: 10px; */
}

/* #user-info {
    border-style: solid;
    border-color: black;
    height: 200px;
  } */

#blogs {
  border-style: solid;
  border-color: black;
  height: 500px;
}
